<div class='new-entry-menu-item'>
  <% if @account && @account.persisted? %>
    <%= link_to 'Add Transaction', new_finances_account_transaction_path(@account) %>
  <% end %>
</div>

<ul class='menu'>
  <% if @account %>
    <% if @accounts.count > 1 %>
      <li>
        <%= link_to 'Accounts', finances_accounts_path %>
      </li>
      <li>
        <%= link_to "Transfer from #{@account.name}", new_finances_account_transfer_path(@account) %>
      </li>
    <% end %>
    <li>
      <%= link_to "Edit #{@account.name}", edit_finances_account_path(@account) %>
    </li>
    <li>
      <%= link_to "Bills for #{@account.name}", finances_account_bills_path(@account) %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Add Account…', new_finances_account_path %>
    </li>
  <% end %>
</ul>