<%= render 'tabs', current: :tasks %>

<% if active_task %>
  <section id='active-task'>
    <h1>Working on: <%= active_task.name %> since <%= active_task.sessions.last.created_at.strftime('%d/%m/%Y %H:%M') %></h1>
    <%= link_to 'Stop', stop_work_task_path(active_task) %>
  </section>
<% else %>
  <h1>Currently Idle</h1>
<% end %>

<% if tasks.empty? %>
  <h2>You ain't got no tasks yet</h2>
<% else %>
  <h2>Tasks in progress</h2>
  <% if tasks.active.any? %>
    <% tasks.active.each do |task| %>
      <p>
        <%= task.name %> (<%= task.total_duration %>) |
        <%= link_to 'Edit', edit_task_path(task) %> |
        <%= link_to 'Stop', stop_work_task_path(task) %> |
        <%= link_to 'Complete', complete_task_path(task) %>
      </p>
    <% end %>
  <% end %>

  <% if tasks.inactive.any? %>
    <% tasks.inactive.each do |task| %>
      <p>
        <%= task.name %> (<%= task.total_duration %>) |
        <%= link_to 'Edit', edit_task_path(task) %> |
        <%= link_to 'Start', start_work_task_path(task) %> |
        <%= link_to 'Complete', complete_task_path(task) %>
      </p>
    <% end %>
  <% end %>

<% end %>