<p id="notice"><%= notice %></p>

<h1>
  <span><%= @account.name %></span>Bills
</h1>

<% if @bills.any? %>
  <div class='transactions-table'>
    <div class='table-row-header'>
      <span>Description</span>
      <span>Amount</span>
      <span>Frequency</span>
      <span>Interval</span>
      <span>Next Due</span>
    </div>

    <% @bills.each do |bill| %>
      <%= link_to edit_finances_account_bill_path(@account.id, bill.id), class: "table-row modal--link" do %>
        <span><%= bill.description %></span>
        <span class="amount <%= "deposit" if bill.amount > 0 %>"><%= bill.amount.abs %></span>
        <span><%= bill.frequency %></span>
        <span><%= bill.interval %></span>
        <span><%= bill.next_due_at.strftime('%d/%m/%Y') %></span>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>You have not yet set up any bills for this account.</p>
<% end %>

<%= link_to 'New Bill', new_finances_account_bill_path(@account.id), class: "command-button modal--link" %>
