<h1>
  <span><%= @area.description %></span><span><%= @menu.title %></span>
</h1>

<%= link_to('Back', edit_menus_area_path(@area)) %>

<%= simple_form_for(@menu, url: edit_menus_area_menu_path(@area, @menu)) do |f| %>
  <%= f.input(:title) %>
  <%= f.submit 'Update menu title' %>
<% end %>

<div class="editable-items">
  <ul>
    <% @menu.menu_items.each do |item| %>
      <li>
        <span><%= item.caption || '-- break --' %></span>
        <div class="options">
          <%= link_to('Edit', edit_edit_menus_area_menu_menu_item_path(@area, @menu, item)) %>
          <%= link_to('Remove', edit_menus_area_menu_menu_item_path(@area, @menu, item), class: 'remove', method: :delete, data: { confirm: 'Sure?' }) %>
        </div>
      </li>
    <% end %>
    <li>
      <div class="add">
        <%= link_to('Add New Menu Item…', new_edit_menus_area_menu_menu_item_path(@area, @menu)) %>
      </div>
    </li>
  </ul>
</div>