<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'New Account' %>
    <%= f.input :opening_balance %>
    <%= f.input :reconciled_balance %>
    <%= f.input :primary, wrapper: :input_checkbox %>
  </div>

  <div class="form-actions">
    <% unless @account.new_record? %>
      <%= link_to 'Delete Account', @account, method: :delete, data: { confirmation_message: 'Are you sure you want to delete this account?' }, class: 'command-button confirmation' %>
    <% end %>
    <%= f.button :submit, 'Save Account', class: "command-button" %>
  </div>
<% end %>
