<h1>
  Edit Menus
</h1>

<%= link_to('Home', root_path) %>

<ul>
  <li>
    Personal
    | 
    <%= link_to('Edit', edit_menus_area_path(MenuArea.home)) %>
    |
    <%= link_to('View', home_path) %>
  </li>
  <li>
    Work
    |
    <%= link_to('Edit', edit_menus_area_path(MenuArea.work)) %>
    |
    <%= link_to('View', work_path) %>
  </li>
</ul>
