<h1>
  <span>Edit Menus</span>
</h1>

<%= link_to('Home', root_path) %>

<div class="editable-items">
  <ul>
    <li>
      <span>Personal</span>
      <div class="options">
        <%= link_to('Edit', edit_menus_area_path(MenuArea.home)) %>
        <%= link_to('View', home_path) %>
      </div>
    </li>
    <li>
      <span>Work</span>
      <div class="options">
        <%= link_to('Edit', edit_menus_area_path(MenuArea.work)) %>
        <%= link_to('View', work_path) %>
      </div>
    </li>
  </ul>
</div>