<h1>
  <%= @area.description %>
</h1>

<%= link_to('< Back', edit_menus_areas_path) %>

<ul>
  <% @area.menus.each do |menu| %>
    <li>
      <%= link_to(menu.title, edit_edit_menus_area_menu_path(@area, menu)) %>
      |
      <%= link_to('Remove', edit_menus_area_menu_path(@area, menu), method: :delete, data: { confirm: 'Sure?' }) %>
    </li>
  <% end %>
  <li>
    <%= link_to('Add…', new_edit_menus_area_menu_path(@area)) %>
  </li>
</ul>
