<h1>
  <span><%= @area.description %></span><span><%= @menu.title %></span><span>New Item</span>
</h1>

<%= link_to('Back', edit_edit_menus_area_menu_path(@area, @menu)) %>

<%= simple_form_for(@item, url: edit_menus_area_menu_menu_items_path(@area, @menu)) do |f| %>
  <%= f.input(:caption) %>
  <%= f.input(:url) %>
  <%= f.submit %>
<% end %>
