<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicon_#{@stylesheet}.png" %>
    <%= stylesheet_link_tag "homepage_#{@stylesheet}", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'homepage' %>
  </head>

  <body>
    <main id="homepage">
      <%= yield %>

    </main>
    <footer>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Edit Menus', edit_menus_root_path %>
      <%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
    </footer>
  </body>
</html>
